body {
    background-color: Snow
}
h2 {
    font-family: courier;
    border: 1px double IndianRed;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
}